* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    height: inherit;
    width: 100%;
    display: grid;
    grid-template-columns: 12% 63% 25%;
    /*grid-template-rows: 40px repeat(3,1fr) 1fr; Changed*/
    grid-template-rows: 40px 1fr;
}

nav{
    width: 100%;
    height: 40px;
    text-decoration: none;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color: black;
    position: fixed;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav li:hover{
    background-color: lightgray;

}

nav ul{
    display: flex;
    align-items: center;
    height: inherit;
    list-style: none;
    padding: 0;
    margin: 0;

}

.nav-item{
    display: inline-block;
    padding: 10px;
}

.nav-item:hover{
    background-color: lightgray;
}

.logo{
    height: inherit;
    display: inline-block;
    padding: 10px;
    background-color: #343536;
}

.logo:hover{
    background-color: lightgray;
}
/*SIDEBAR BEGINNING*/
.side-bar{
    background-color: lightgray;
    grid-column: 1 / 2;
    grid-row: 2 / 7;
    font-size: 20px;
    /*width: 20%;*/

}

.side-nav{
    padding: 5px 5px 5px 10px;

}

.menu{
    padding: 15px 15px 15px 10px;
    font-weight: bold;
}

.side-bar a{
    text-decoration: none;
    color: black;
    display: block;
}


.side-bar ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    position: fixed;

}

.side-bar li{
    width: 100%;
}

.side-bar a:hover{
    display: inline-block;
    background-color: black;
    color: white;
    width: 100%;
}

main{
    grid-column: 2 / 3;
    /*grid-row: 2 / 6; Changed*/
    grid-row: 2 / 5;
    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-rows: repeat(4, 1fr); Changed*/
    grid-template-rows: repeat(3, 1fr);
}

.header {
    padding: 20px 10px 10px 10px;
    height: 350px;

}

.header h1 {
    padding-bottom: 10px;
    color: #409388;
    font-weight: normal;
}

.header p{
    font-size: 1.2em;
}

.heading1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.heading2{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.heading3{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

/*beginning adver*/
.right-nav {
    grid-column: 3 / 4;
    grid-row: 2 / 6;
    /*display: grid; Changed*/
    grid-template-columns: 1fr;
    /*grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr; Changed*/
    /*grid-gap: 10px; Changed*/
    background-color: yellow;

}

.ad-items{
    /*border: 5px solid pink;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(255,105,180, 0.2);


}

.ad-item1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-top: 20px;

}

.ad-item2{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.ad-item3{
    grid-column: 1 / 2;
    grid-row: 3 / 4;

}

.ad-item4{
    grid-column: 1 / 2;
    grid-row: 4 / 5;

}

.ad-item5{
    grid-column: 1 / 2;
    grid-row: 5 / 6;

}

.ad-item6{
    grid-column: 1 / 2;
    grid-row: 6 / 7;

}

.ad-box-1, .ad-box-3, .ad-box-5 {
    border: 1px dotted lightgray;
    width: 95%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}

.ad-box-2, .ad-box-4, .ad-box-6 {
    border: 1px dotted lightgray;
    width: 95%;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}

.ad-box-2 p, .ad-box-4 p, .ad-box-6 p {
    padding: 50px 0;
}
/*beginning of block-number*/
.block-number{
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    margin-bottom: 30px;

}

.block-number li{
    display: block;
}

.block-number a{
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    display: block;
}

.fa-angle-double-right {
    font-size: .5em;
    text-align: center;
    position: relative;
    bottom: 1px;
}

.block-number a:hover{
    display: inline-block;
    background-color: black;
    color: white;
    width: 100%;
}

.page-number1{
    background-color: black;
}

.page-number1 a{
    color: white;
}

footer{
    grid-column: 2 / 4;
    grid-row: 6 / 7;
}

.footer-items1{
    background-color: #666666;
    height: 100px;
    display: flex;
    align-items: center;
}

.footer-items2{
    background-color: #333333;
    height: 50px;
    display: flex;
    align-items: center;
}

.footer-items1 h3{
    padding: 20px 10px;
    font-size: 20px;
    color: white;
    font-weight: normal;
}

.footer-items2 h5{
    padding: 10px 10px;
    color: white;
    font-weight: normal;
}

.footer-items2 a{
    color: white;
}