* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 50% 30%;
    grid-template-rows: 40px repeat(3,15%) 1fr;
}

nav{
    width: 100%;
    height: 40px;
    text-decoration: none;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color: black;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav li:hover{
    background-color: lightgray;

}

nav ul{
    display: flex;
    align-items: center;
    height: inherit;
    list-style: none;
    padding: 0;
    margin: 0;

}

.nav-item{
    display: inline-block;
    padding: 10px;
}

.nav-item:hover{
    background-color: lightgray;
}

.logo{
    height: inherit;
    display: inline-block;
    padding: 10px;
    background-color: #343536;
}

.logo:hover{
    background-color: lightgray;
}
/*SIDEBAR BEGINNING*/
.side-bar{
    background-color: lightgray;
    grid-column: 1 / 2;
    grid-row: 2 / 7;
    font-size: 20px;
}

.side-nav{
    padding: 5px 5px 5px 10px;

}

.menu{
    padding: 15px 15px 15px 10px;
    font-weight: bold;
}

.side-bar a{
    text-decoration: none;
    color: black;
    display: block;
}


.side-bar ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

}

.side-bar li{
    width: 100%;
}

.side-bar a:hover{
    display: inline-block;
    background-color: black;
    color: white;
    width: 100%;
}

main{
    grid-column: 2 / 3;
    grid-row: 2 / 6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.header {
    padding: 20px 10px 10px 10px;
    margin-bottom: 100px;

}

.header h2 {
    padding-bottom: 10px;
    color: #409388;
}
/*footer{*/
/*    grid-column: 2 / 4;*/
/*    grid-row: 6 / 7;*/
/*    background-color: aqua;*/
/*}*/

/*.block-number{*/
/*    grid-column: 2 / 3;*/
/*    grid-row: 4 / 5;*/
/*    background-color: lightpink;*/
/*    display: flex;*/
/*}*/

.adver {
    grid-column: 3 / 4;
    grid-row: 2 / 6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr;
    grid-gap: 10px;

}

.ad-items{
    /*border: 5px solid pink;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.ad-item1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-top: 20px;
}

.ad-item2{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.ad-item3{
    grid-column: 1 / 2;
    grid-row: 3 / 4;

}

.ad-item4{
    grid-column: 1 / 2;
    grid-row: 4 / 5;

}

.ad-item5{
    grid-column: 1 / 2;
    grid-row: 5 / 6;

}

.ad-item6{
    grid-column: 1 / 2;
    grid-row: 6 / 7;

}

.ad-box-1, .ad-box-3, .ad-box-5 {
    border: 1px dotted lightgray;
    width: 95%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ad-box-2, .ad-box-4, .ad-box-6 {
    border: 1px dotted lightgray;
    width: 95%;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}

.ad-box-2 p, .ad-box-4 p, .ad-box-6 p {
    padding: 50px 0;
}